<div class="card bg-base-100 card-width h-34 shadow-xl border border-red-100">
  <div class="card-body">
    <input
      type="text"
      class="w-full p-3 border rounded-full"
      placeholder="What's on your mind"
    />
    <hr class="w-full" />
    <div class="flex justify-between items-center">
      <div class="flex">
        <p>
          <span><i class="fa-solid fa-file-pen"></i></span> Post
        </p>
      </div>
      <div class="flex">
        <p>logo <span>Picture</span></p>
      </div>
      <div class="flex">
        <p>logo <span>ToDo</span></p>
      </div>
    </div>
  </div>
</div>
